<p id="notice"><%= notice %></p>

<p>
  <strong>Recorded at:</strong>
  <%= @entry.recorded_at_date %>
  <%= @entry.recorded_at_time %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @entry.temperature %>
</p>

<p>
  <strong>Disturbed:</strong>
  <%= @entry.disturbed %>
</p>

<p>
  <strong>Intercourse:</strong>
  <%= @entry.intercourse %>
</p>

<p>
  <strong>Protected:</strong>
  <%= @entry.protected %>
</p>

<p>
  <strong>Cervix firmness:</strong>
  <%= @entry.cervix_firmness %>
</p>

<p>
  <strong>Cervix height:</strong>
  <%= @entry.cervix_height %>
</p>

<p>
  <strong>Cirvix openness:</strong>
  <%= @entry.cirvix_openness %>
</p>

<p>
  <strong>Flow type:</strong>
  <%= @entry.flow_type %>
</p>

<p>
  <strong>Flow volume:</strong>
  <%= @entry.flow_volume %>
</p>

<p>
  <strong>Ferning:</strong>
  <%= @entry.ferning %>
</p>

<p>
  <strong>Opk:</strong>
  <%= @entry.opk %>
</p>

<p>
  <strong>Pregancy test:</strong>
  <%= @entry.pregancy_test %>
</p>

<p>
  <strong>Ovulatory pain:</strong>
  <%= @entry.ovulatory_pain %>
</p>

<p>
  <strong>Breast tenderness:</strong>
  <%= @entry.breast_tenderness %>
</p>

<p>
  <strong>Breast fullness:</strong>
  <%= @entry.breast_fullness %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @entry.alcohol %>
</p>

<p>
  <strong>Cramps:</strong>
  <%= @entry.cramps %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @entry.exercise %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @entry.travel %>
</p>

<p>
  <strong>Ibuprofen:</strong>
  <%= @entry.ibuprofen %>
</p>

<p>
  <strong>Tylenol:</strong>
  <%= @entry.tylenol %>
</p>

<p>
  <strong>Multivitamin:</strong>
  <%= @entry.multivitamin %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @entry.notes %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
